#!/usr/bin/env xdg-open

[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Comment=install
Icon=/usr/share/icons/Humanity/actions/48/document-import.svg
Exec=xterm -e "sudo add-apt-repository ppa:kupfer-team/ppa && apturl apt:kupfer?refresh=yep && notify-send 'Kaupfer' 'Instalado' -i /usr/share/icons/Humanity/categories/48/applications-debugging.svg"

Name=Instalador de Kupfer
